@import "../../../../variables";

.navigation {
  background-color: $solid-background;
  position: fixed;
  z-index: 2;
  height: 50px;
  width: 100%;
  top: 40px;
  border-bottom: 1px solid $helper-color;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.38);

  &__button {
    height: 40px;
    line-height: 0;
    border-radius: 0;
    color: $primary-color;
    width: 40px;

    &--bigger {
      mat-icon {
        margin-right: 5px;
        font-size: 32px !important;
      }
    }

    mat-icon {
      font-size: 24px;
      font-weight: bold;
    }
  }

  &__box {

    mat-divider {
      width: 100%;
    }

    &__city {
      color: $primary-color;
      font-size: 18px;
      font-weight: 600;
      width: 95px;
      // text overflowing
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

    }

    &__date-container {
      color: $primary-color;
      text-align: right;
      font-size: 13px;
      font-weight: 300;

      &--shifted {
        margin-left: 10px;
      }
    }

    &__results-count {
      color: $helper-color;
      font-size: 10px;
      font-weight: 500;
      width: 100px;
    }

    &__updated-at {
      color: $average-helper-color;
      font-size: 10px;
      font-weight: 500;
    }
  }
}
