<div fxLayout="row"
     fxLayoutAlign="space-between center"
     class="navigation">
  <button class="navigation__button navigation__button--bigger"
          mat-icon-button
          routerLink="/search/requests">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <section *ngIf="(searchRequest$ | async) as searchRequest"
            fxFlex="grow"
           fxLayout="column"
           fxLayoutAlign="center start"
           class="navigation__box">
    <header fxLayout="row"
            fxLayoutAlign="center center">
      <span class="navigation__box__city">{{searchRequest.city}}</span>
      <section class="navigation__box__date-container">
        <span>{{searchRequest.checkInDate.stringFormat}}</span>
        <span class="navigation__box__date-container--shifted">{{searchRequest.checkOutDate.stringFormat}}</span>
      </section>
    </header>
    <mat-divider></mat-divider>
    <footer fxLayout="row"
            fxLayoutAlign="center center">
      <span class="navigation__box__results-count">Hotels count: {{hotelsCount}}</span>
      <span class="navigation__box__updated-at">Updated at: {{searchRequest.updatedAt}}</span>
    </footer>
  </section>
  <section fxLayout="row"
           fxLayoutAlign="center center">
    <button *ngFor="let filter of filters | keyvalue"
            class="navigation__button"
            mat-icon-button
            (click)="toggleFilter(filters[filter.key])">
      <mat-icon>{{filter.value.active ? filter.value.iconActive : filter.value.iconInactive}}</mat-icon>
    </button>
  </section>
</div>
