@import "../../../variables";

.toolbar {
  top: 0;
  height: 40px;
  position: fixed;
  z-index: 2;
  padding: 0 10px;

  &__home {
    width: 50px;
    height: 26px;
    line-height: 0;
    margin-right: 40px;
    padding: 0;
    border: 1px dashed $solid-background;

    a {
      text-decoration: none;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 16px;
      color: $muted-helper-color;
    }
  }

  &__reqs {
    width: 100px;
    height: 20px;
    line-height: 0;
    padding: 0;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;

    &--active {
      color: $primary-color;
      background: white;
    }
  }

  &__menu {
    width: 40px;
    margin-left: auto;
    border-radius: 0;
  }
}
