<mat-toolbar fxLayout="row"
             class="toolbar"
             color="primary">
  <button class="toolbar__home"
          color="primary"
          mat-flat-button>
    <a href="/">boo</a>
  </button>
  <button class="toolbar__reqs"
          color="primary"
          mat-flat-button
          routerLinkActive="toolbar__reqs--active"
          routerLink="requests">Requests
  </button>
  <button class="toolbar__menu"
          mat-icon-button
          [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item
            *ngIf="isAdmin() | async"
            routerLink="admin">
      <mat-icon>ballot</mat-icon>
      <span>Admin overview</span>
    </button>
    <button mat-menu-item
            (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
