@import "../../../../variables";

h1 {
  font-size: 14px;
  color: $primary-color;
  font-weight: bold;
}

.content {
  font-size: 14px;
  color: $helper-color;
  font-weight: 300;
  margin-bottom: 25px;
}

button {
  font-weight: bold;
}

mat-checkbox {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 200;
}
