<h1 mat-dialog-title>{{data.title}}</h1>
<p mat-dialog-content class="content">{{data.content}}</p>
<div mat-dialog-actions
     fxLayoutAlign="end center">
  <button mat-button
          color="accent"
          [mat-dialog-close]="true">YES
  </button>
  <button mat-button
          color="primary"
          [mat-dialog-close]="false">NO
  </button>
</div>
