@import "../../../variables";

.add-search-request-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

// due to dynamic content of expansion panel
::ng-deep app-search-requests-card:last-child {
  .mat-expansion-panel {
    margin-bottom: 75px !important;
  }
}
