<ng-template [ngIf]="searchRequests.length" [ngIfElse]="empty">
  <mat-accordion>
    <app-search-requests-card *ngFor="let searchRequest of searchRequests; trackBy: trackBySearchId;"
                              [searchRequest]="searchRequest"></app-search-requests-card>
  </mat-accordion>
</ng-template>

<button (click)="createRequest()"
        class="add-search-request-button"
        color="primary"
        mat-fab>
  <mat-icon>add</mat-icon>
</button>

<ng-template #empty>
  <div class="message-container message-container__empty-list-message"
       fxLayout="column"
       fxLayoutAlign="center center">
    <p>Start using app by creating a search request.</p>
    <p>Click "+" on the right bottom.</p>
  </div>
</ng-template>
