@import "../../../../variables";

.grid {
  margin: 0 3px;
  top: 50px;
  &__tile {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: all 0.5s;
  }
}

.reset-button {
  color: $helper-color;
  background-color: $muted-helper-color;
}
