<app-search-results-nav-bar [hotelsCount]="(hotelsSummary$ | async).length" [filters$]="filters$"></app-search-results-nav-bar>
<mat-grid-list role="list"
               class="grid"
               [cols]="cols"
               [gutterSize]="'6px'"
               rowHeight="80">
  <mat-grid-tile role="listitem"
                 #gridElement
                 class="grid__tile"
                 *ngFor="let hotel of (hotelsSummary$ | async); trackBy: trackByHotelId;">
    <app-search-results-tile [gridElement]="gridElement"
                             [hotel]="hotel"></app-search-results-tile>
  </mat-grid-tile>
</mat-grid-list>
<div *ngIf="!(hotelsSummary$ | async).length"
     class="message-container message-container--shifted message-container__empty-list-message"
     fxLayout="column"
     fxLayoutAlign="center center">
  <p>There are no results with current set of filters.</p>
  <button mat-button
          (click)="resetFilters()"
          class="reset-button">RESET FILTERS
  </button>
</div>
