<div class="content"
     [hidden]="!extended">
  <div *ngIf="hotel.propertyType" class="box">
    <span class="box__description">Property type:</span>
    <span class="box__value">{{hotel.propertyType}}</span>
  </div>
  <div *ngIf="hotel.lastSecondaryRateType" class="box">
    <span class="box__description">{{hotel.lastSecondaryRateType}} rate:</span>
    <span class="box__value">{{hotel.lastSecondaryRate}} / 100</span>
  </div>
  <div *ngIf="hotel.lastBonuses" class="box">
    <span class="box__description">Bonuses:</span>
    <span class="box__value">{{hotel.lastBonuses}}</span>
  </div>
  <div *ngIf="hotel.lastRooms" class="box">
    <span class="box__description">Rooms:</span>
    <span class="box__value">[{{hotel.lastRooms}}]</span>
  </div>
</div>
