@import '../../../../variables';

.content {
  position: absolute;
  display: flex;
  place-content: center center;
  flex-direction: column;
  background: white;
  width: 100%;
  height: 80px;
  left: 0;
  top: 40px;
  border-top: 1px dashed lightgrey;
}

.box {
  padding: 3px 5px;
  color: $helper-color;
  font-size: 12px;

  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center flex-start;
  align-items: center;

  &__description {
    width: 80px;
    flex: none;
    font-weight: 200;
  }

  &__value {
    font-weight: 300;
    &__newly-added {
      font-weight: bold;
      color: $highlight-color;
    }
  }
}

.buttons-container {
  width: 100%;

  &__button {
    color: $muted-helper-color;
    font-weight: bold;
    background-color: $primary-color;
    margin-top: 5px;
    margin-left: 10px;
    padding: 0 6px;
    line-height: 20px;
    font-size: 12px;
    height: 20px;
    width: 60px;

    &__history {
      background-color: $highlight-color;
    }
  }
}

