<div class="container"
     fxLayout="row"
     fxLayoutAlign="center center">
  <mat-card class="container__card">
    <mat-card-content>
      <form [formGroup]="registerFormGroup"
            (ngSubmit)="onFormSubmit()">
        <mat-form-field class="container__card__input-container">
          <input type="text"
                 formControlName="email"
                 matInput
                 placeholder="Email">
          <mat-error *ngIf="registerFormGroup.email.invalid">
            Enter an valid and existing email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="container__card__input-container">
          <input type="password"
                 formControlName="password"
                 matInput
                 placeholder="Password">
          <mat-error *ngIf="registerFormGroup.password.invalid">
            Enter a new password without white spaces and at least 3 letters long
          </mat-error>
        </mat-form-field>
        <mat-form-field class="container__card__input-container">
          <input type="password"
                 formControlName="repeatPassword"
                 matInput
                 placeholder="Repeat password">
          <mat-error *ngIf="registerFormGroup.repeatPassword.invalid">
            Repeat password from above
          </mat-error>
        </mat-form-field>
        <button mat-stroked-button
                class="container__card__register-button"
                color="primary"
                type="submit"
                [disabled]="!registerFormGroup.valid || registering">Register
        </button>
      </form>
    </mat-card-content>
    <div class="container__login">
      <a class="container__login__nav" routerLink="../login">Return to login</a>
    </div>
  </mat-card>
</div>
