@import "../../../variables";

.container {
  &__card {
    margin-top: 100px;
    width: 220px;

    &__input-container {
      width: 220px;
      margin-bottom: 20px;

      input {
        font-size: 16px;
      }
    }

    &__register-button {
      font-size: 16px;
      font-weight: bold;
    }
  }

  &__login {
    border-top: 1px solid $helper-color;
    padding-top: 5px;
    color: $helper-color;
    text-align: center;
    font-size: 10px;

    &__nav {
      text-decoration: none;
      font-weight: bold;
      color: $primary-color;
    }
  }
}

