<ng-template #summary>
  <ng-template [ngIf]="resultExist" [ngIfElse]="noSummary">
    <app-search-results-grid></app-search-results-grid>
  </ng-template>

  <ng-template #noSummary>
    <div class="message-container message-container__empty-list-message"
         fxLayout="column"
         fxLayoutAlign="center center">
      <p>There are no results for current search request.</p>
      <p>There may be no results yet or try to generalize a search request.</p>
    </div>
  </ng-template>
</ng-template>

<ng-template [ngIf]="loading" [ngIfElse]="summary">
  <mat-spinner class="spinner"></mat-spinner>
</ng-template>

