<form fxLayout="column"
      class="form-container"
      [formGroup]="searchRequestFormGroup"
      (ngSubmit)="onFormSubmit()">
  <mat-form-field>
    <input matInput
           placeholder="Search hotels on forwarding city"
           formControlName="city">
    <mat-error *ngIf="searchRequestFormGroup.city.invalid">
      Provide a real city name consisting of letters only
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           [min]="minCheckInDate"
           [matDatepicker]="checkInPicker"
           placeholder="Check in date"
           formControlName="checkInDate">
    <mat-datepicker-toggle matSuffix [for]="checkInPicker"></mat-datepicker-toggle>
    <mat-datepicker #checkInPicker></mat-datepicker>
    <mat-error *ngIf="searchRequestFormGroup.checkInDate.invalid">
      Date needs to be Date object
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           [min]="minCheckOutDate"
           [max]="maxCheckOutDate"
           [matDatepicker]="checkOutPicker"
           placeholder="{{searchRequestFormGroup.checkInDate.value
            ? 'Check out date (max length of stay: 30 days)'
            : 'Select check in date first'}}"
           formControlName="checkOutDate">
    <mat-datepicker-toggle matSuffix [for]="checkOutPicker"></mat-datepicker-toggle>
    <mat-datepicker #checkOutPicker></mat-datepicker>
    <mat-error *ngIf="searchRequestFormGroup.checkOutDate.invalid">
      Date needs to be Date object
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="Number of adults"
           formControlName="numberOfAdults">
    <mat-error *ngIf="searchRequestFormGroup.numberOfAdults.invalid">
      min value: {{builder.minNumberOfAdults}}, max value: {{builder.maxNumberOfAdults}}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="Number of rooms"
           formControlName="numberOfRooms">
    <mat-error *ngIf="searchRequestFormGroup.numberOfRooms.invalid">
      min value: {{builder.minNumberOfRooms}}, max value: {{builder.maxNumberOfRooms}}
    </mat-error>
  </mat-form-field>

  <div class="form-container__children-container"
       fxLayout="column">
    <div fxLayout="row"
         fxLayoutAlign="start center">
      <p class="form-container__children-container__title">Number of children:</p>
      <mat-icon (click)="addChild()">add</mat-icon>
    </div>
    <div class="form-container__children-container__list"
         fxLayout="row"
         fxLayoutAlign="start center"
         formArrayName="numberOfChildren"
         *ngFor="let val of searchRequestFormGroup.numberOfChildren; let i = index;">
      <mat-form-field class="form-container__children-container__list__item">
        <div [formGroupName]="i">
          <input matInput
                 placeholder="Age at check-out"
                 formControlName="yearAgeAtCheckOut">
        </div>
        <mat-error *ngIf="val.invalid">
          min value: {{builder.minAgeAtCheckOut}}, max value: {{builder.maxAgeAtCheckOut}}
        </mat-error>
      </mat-form-field>
      <mat-icon (click)="removeChild(i)">remove</mat-icon>
    </div>
  </div>
  <mat-divider class="form-container__divider" fxFlex="grow"></mat-divider>
  <div *ngIf="checkbox.checked"
       fxLayout="column">
    <mat-form-field>
      <input matInput
             placeholder="Priority"
             formControlName="priority">
      <mat-error *ngIf="searchRequestFormGroup.priority.invalid">
        min value: {{builder.minPriority}}, max value: {{builder.maxPriority}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="Results limit [number of search results]"
             formControlName="resultsLimit">
      <mat-error *ngIf="searchRequestFormGroup.resultsLimit.invalid">
        min value: {{builder.minSearchResultsLimit}}, max value: {{builder.maxSearchResultsLimit}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="Frequency of performing a search [minutes]"
             formControlName="updateFrequencyMinutes">
      <mat-error *ngIf="searchRequestFormGroup.updateFrequencyMinutes.invalid">
        min value: {{builder.minUpdateFrequencyMinutes}} min, max value: {{builder.maxUpdateFrequencyMinutes}} min
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select the search currency"
                  [(value)]="builder.selectedCurrency"
                  formControlName="currency">
        <mat-option *ngFor="let curr of builder.currencyEnums"
                    value="{{curr}}">{{curr}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select the search execution language"
                  [(value)]="builder.selectedLanguage"
                  formControlName="language">
        <mat-option *ngFor="let lang of builder.languageEnums"
                    value="{{lang}}">
          {{lang}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="editingRequest"
       class="form-container__editing-notice">
    <p>Previous collected results will be deleted!</p>
  </div>
  <div fxLayout="row"
       fxLayoutAlign="space-between center">
    <mat-checkbox #checkbox
                  class="form-container__advanced-options"
                  [disabled]="!(isAdmin() | async)">Show advanced options
    </mat-checkbox>
    <button *ngIf="!editingRequest"
            mat-fab
            color="accent"
            type="submit"
            [disabled]="!searchRequestFormGroup.valid">
      <mat-icon>done</mat-icon>
    </button>
    <button *ngIf="editingRequest"
            mat-fab
            color="primary"
            type="submit"
            [disabled]="!searchRequestFormGroup.valid">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</form>

