@import "../../../../variables";

.form-container {
  width: 100%;

  &__children-container {

    &__title {
      color: $helper-color;
      margin-left: 10px;
      font-size: 16px;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      font-weight: 500;
    }

    mat-icon {
      margin-left: 10px;
      color: $primary-color;
      font-weight: bold;
      font-size: 18px;
      width: 18px;
      height: 18px;
      cursor: pointer;
      border: 2px solid $primary-color;
      border-radius: 6px;
      text-align: center;
    }

    &__list {
      &__item {
        width: 100%;
      }
    }
  }

  &__divider {
    margin: 5px 10px 15px;
  }

  &__editing-notice {
    p {
      color: $warn-color;
      font-weight: bold;
      font-size: 14px;
      text-align: end;
    }
  }

  &__advanced-options {
    color: $primary-color;
    font-weight: 500;
    font-size: 16px;
  }
}
