<mat-grid-tile-header class="header">
  <div class="header__description-container" (click)="extendTile(hotel.numberOfDetails)">
    <span class="header__description-container__hotel-name">{{hotel.name}}</span>
    <div class="header__description-container__attributes">
      <span *ngIf="hotel.districtName" class="header__description-container__attributes__district">
        {{hotel.districtName}}</span>
      <span *ngIf="hotel.distanceFromCenterMeters" class="header__description-container__attributes__distance">
        {{hotel.distanceFromCenterMeters}} m from center</span>
      <span *ngIf="hotel.starRating" class="header__description-container__attributes__star-rating">
        [{{hotel.starRating}} stars]</span>
    </div>
  </div>
  <a *ngIf="hotel.numberOfDetails" mat-icon-button
     class="header__button header__button--shifted"
     (click)="extendTile(hotel.numberOfDetails)">
    <mat-icon [matBadge]="hotel.numberOfDetails"
              [matBadgeSize]="'small'">library_books
    </mat-icon>
  </a>
  <a mat-icon-button
     class="header__button header__button--shifted"
     [href]="hotel.hotelLink"
     target="_blank">
    <mat-icon>open_in_new</mat-icon>
  </a>
  <button mat-icon-button
          class="header__button"
          (click)="toggleFavorite()">
    <mat-icon>{{hotel.isFavorite ? 'favorite' : 'favorite_border'}}</mat-icon>
  </button>
</mat-grid-tile-header>

<mat-grid-tile-footer class="footer">
  <mat-icon *ngIf="hotel.newlyAdded"
            class="footer__newly-added">fiber_new
  </mat-icon>
  <div *ngIf="hotel.maxPriceDiff"
       class="footer__box">
    <span class="footer__box__description">Max diff</span>
    <span class="footer__box__value">{{hotel.maxPriceDiff}} zł</span>
  </div>
  <div *ngIf="hotel.avgPriceDiff"
       class="footer__box">
    <span class="footer__box__description">Avg diff</span>
    <span class="footer__box__value">{{hotel.avgPriceDiff}} zł</span>
  </div>
  <div *ngIf="hotel.lastNumberOfReviews"
       class="footer__box">
    <span class="footer__box__description">Reviews</span>
    <span class="footer__box__value">{{hotel.lastNumberOfReviews}}</span>
  </div>
  <div *ngIf="hotel.lastRate"
       class="footer__box">
    <span class="footer__box__description">Rate</span>
    <span class="footer__box__value footer__box__value--highlight">{{hotel.lastRate}}</span>
  </div>
  <div class="footer__box footer__box--historic"
       (click)="openHistory(hotel)">
    <span class="footer__box__description">Price</span>
    <span class="footer__box__value footer__box__value--highlight">{{hotel.lastPrice}} zł</span>
  </div>
  <span *ngIf="hotel.priceRate"
        class="footer__price-rate">{{hotel.priceRate}}%</span>

</mat-grid-tile-footer>
<app-search-results-tile-content [hotel]="hotel"
                                 [extended]="extended"></app-search-results-tile-content>

