@import '../../../../variables';

.header {
  background-color: $solid-background;
  padding: 0;
  height: 40px;
  z-index: 1;

  &__description-container {
    margin: 0 5px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    overflow-wrap: normal;

    &__hotel-name {
      color: $primary-color;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 4px;

      // text overflowing
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &__attributes {
      font-size: 11px;

      // text overflowing
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &__district {
        color: $primary-color;
        font-weight: 300;
        margin-right: 10px;
      }

      &__distance {
        color: $helper-color;
        font-weight: 300;
        margin-right: 10px;
      }

      &__star-rating {
        color: $highlight-color;
        font-weight: 500;
      }
    }
  }

  &__button {
    color: $primary-color;
    padding: 0;
    width: 35px;
    height: 40px;

    mat-icon {
      font-size: 22px;
    }

    &--shifted {
      margin-left: auto;
    }

    .mat-badge-content {
      font-size: 10px;
      background: $primary-color;
      font-weight: 300;
    }
  }
}

.footer {
  height: 40px;
  place-content: center flex-end;
  padding: 0;
  background: white;
  color: $primary-color;
  z-index: 1;
  border-top: 1px dashed $primary-color;


  &__newly-added {
    width: 30px;
    font-weight: 200;
    font-size: 30px;
    margin-right: auto;
    margin-left: 10px;
    line-height: 25px;
    color: $highlight-color;
  }

  &__box {
    margin: 0 4px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
    align-items: center;

    &__description {
      text-align: left;
      font-size: 12px;
      color: $helper-color;
    }

    &__value {
      font-size: 12px;
      color: $helper-color;
      font-weight: bold;

      &--highlight {
        font-size: 14px;
        color: $primary-color;
      }
    }

    &--historic {
      cursor: pointer;
      background-color: $muted-helper-color;
      padding: 2px 5px;
      border-radius: 8px;
    }
  }

  &__price {
    font-size: 14px;
    margin-right: 10px;
  }

  &__price-rate {
    margin-left: 5px;
    padding: 2px 3px;
    font-size: 14px;
    border: 1px solid $primary-color;
    text-align: center;
    font-weight: bold;
  }
}
