@import "../../../../variables";

.search-request-card {

  margin: 5px 3px;

  mat-expansion-panel-header {
    padding: 5px 10px 0;
  }

  &__title {
    margin-right: 0;

    &__city {
      width: 140px;
      color: $primary-color;
      font-size: 18px;
      font-weight: 600;
      // text overflowing
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &__date {
      color: $primary-color;
      width: 90px;
      text-align: right;
      font-size: 15px;
      font-weight: 300;
    }

    &__date--shifted {
      margin-left: 12px;
    }

    &__status {
      width: 150px;
      color: $helper-color;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 6px;
    }

    &__updated-at {
      color: $average-helper-color;
      font-size: 10px;
      font-weight: 500;
    }
  }

  &__content {

    &__details {

      &__box {
        padding: 5px 0;
        color: $helper-color;
        border-bottom: 1px dashed $average-helper-color;

        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        max-height: 100%;
        place-content: center flex-start;
        align-items: center;

        &__description {
          width: 140px;
          flex: none;
          font-weight: 200;
        }

        &__value {
          font-weight: 300;
        }

        &--without-border {
          border: none;
        }
      }
    }

    &__buttons-container {
      padding: 5px 0 5px;

      button {
        font-size: 12px;
        margin: 0 3px;
        padding: 0 6px;
      }

      &__results-button {
        color: $muted-helper-color;
        font-weight: bold;
        background-color: $primary-color;
      }
    }
  }
}

// due to dynamic content of expansion panel
::ng-deep .mat-expansion-panel-content .mat-expansion-panel-body {
  padding: 0 10px 0;
}
