<mat-expansion-panel class="search-request-card" [hideToggle]="true">
  <mat-expansion-panel-header>
    <mat-panel-title class="search-request-card__title"
                     fxLayout="row wrap">
      <div fxFlex="grow"
           fxLayout="row"
           fxLayoutAlign="start center">
        <span class="search-request-card__title__city">{{searchRequest.city}}</span>
        <span class="search-request-card__title__date">{{searchRequest.checkInDate.stringFormat}}</span>
        <span class="search-request-card__title__date search-request-card__title__date--shifted">{{searchRequest.checkOutDate.stringFormat}}</span>
      </div>
      <mat-divider fxFlex="grow"></mat-divider>
      <div fxFlex="grow"
           fxLayout="row"
           fxLayoutAlign="start center">
        <span class="search-request-card__title__status">{{searchRequest.status}}</span>
        <span class="search-request-card__title__updated-at">Updated at: {{searchRequest.updatedAt}}</span>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="search-request-card__content"
       fxLayout="column">
    <div class="search-request-card__content__details"
         fxLayout="column">
      <div class="search-request-card__content__details__box">
        <span class="search-request-card__content__details__box__description">Priority:</span>
        <span class="search-request-card__content__details__box__value">{{searchRequest.priority}}</span>
      </div>
      <div class="search-request-card__content__details__box">
        <span class="search-request-card__content__details__box__description">Results limit:</span>
        <span class="search-request-card__content__details__box__value">{{searchRequest.resultsLimit}}</span>
      </div>
      <div class="search-request-card__content__details__box">
        <span class="search-request-card__content__details__box__description">Update frequency minutes:</span>
        <span class="search-request-card__content__details__box__value">{{searchRequest.updateFrequencyMinutes}}</span>
      </div>
      <div class="search-request-card__content__details__box">
        <span class="search-request-card__content__details__box__description">Number of adults:</span>
        <span class="search-request-card__content__details__box__value">{{searchRequest.numberOfAdults}}</span>
      </div>
      <div class="search-request-card__content__details__box">
        <span class="search-request-card__content__details__box__description">Number of rooms:</span>
        <span class="search-request-card__content__details__box__value">{{searchRequest.numberOfRooms}}</span>
      </div>
      <div *ngIf="searchRequest.numberOfChildren"
           class="search-request-card__content__details__box">
        <span class="search-request-card__content__details__box__description">Number of children:</span>
        <span class="search-request-card__content__details__box__value">[{{searchRequest.numberOfChildren?.stringFormat}}]</span>
      </div>
      <div class="search-request-card__content__details__box">
        <span class="search-request-card__content__details__box__description">Created at:</span>
        <span class="search-request-card__content__details__box__value">{{searchRequest.createdAt}}</span>
      </div>
    </div>
    <mat-action-row class="search-request-card__content__buttons-container">
      <button disabled mat-button
              color="primary"
              [disabled]="searchRequest.status === searchRequestStatuses.IN_PROGRESS"
              (click)="editRequest(searchRequest)">EDIT
      </button>
      <button mat-button
              color="accent"
              [disabled]="searchRequest.status === searchRequestStatuses.INVALID"
              (click)="cloneRequest(searchRequest)">CLONE
      </button>
      <button mat-button
              color="warn"
              [disabled]="searchRequest.status === searchRequestStatuses.IN_PROGRESS"
              (click)="deleteRequest(searchRequest)">DELETE
      </button>
      <button class="search-request-card__content__buttons-container__results-button"
              mat-button
              [disabled]="searchRequest.occupancyUpdatedAt === NOT_AVAILABLE"
              [routerLink]="['../results/' + searchRequest.searchId]"
              color="primary">SEE RESULTS
      </button>
    </mat-action-row>
  </div>
</mat-expansion-panel>
