<div class="container"
     fxLayout="row"
     fxLayoutAlign="center center">
  <mat-card class="container__card">
    <mat-card-content>
      <form [formGroup]="loginFormGroup"
            (ngSubmit)="onFormSubmit()">
        <mat-form-field class="container__card__input-container">
          <input type="text"
                 autocomplete="true"
                 formControlName="email"
                 matInput
                 placeholder="Email">
          <mat-error *ngIf="loginFormGroup.email.invalid">
            Enter the registered email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="container__card__input-container">
          <input type="password"
                 autocomplete="true"
                 formControlName="password"
                 matInput
                 placeholder="Password">
          <mat-error *ngIf="loginFormGroup.password.invalid">
            Enter a valid password for an existing email
          </mat-error>
        </mat-form-field>
        <button mat-stroked-button
                class="container__card__login-button"
                color="primary"
                type="submit"
                [disabled]="!loginFormGroup.valid || loggingIn">Login
        </button>
      </form>
    </mat-card-content>
    <div class="container__register">
      <span>Not registered? <a class="container__register__nav" routerLink="../register">Create an account</a></span>
    </div>
  </mat-card>
</div>
