/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "variables";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar {
  span {
    font-size: 12px;
    font-weight: 600;
  }
}

.error-snackbar {
  background-color: $warn-color;
}

.spinner {
  margin: 250px auto;
  &--dialog {
    margin: 20px auto;
  }
}

.tooltip {
  white-space: pre-line;
}

.message-container {
  margin: 250px auto;

  &--shifted {
    margin: 50px auto;
  }

  &__empty-list-message {
    p {
      margin: 10px 30px;
      text-align: center;
      color: $helper-color;
      font-weight: lighter;
    }
  }
}
