@import "../../../variables";

.title {
  margin: 0 10px 10px 10px;
  padding-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: $primary-color;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.json-container {
  margin: 0 10px;
}
