<ng-template [ngIf]="data" [ngIfElse]="spinner">
  <p class="title">Search results: </p>
  <div class="json-container">
    <ngx-json-viewer *ngIf="data"
                     [json]="data"
                     [expanded]="false"></ngx-json-viewer>
  </div>
</ng-template>

<ng-template #spinner>
  <mat-spinner class="spinner"></mat-spinner>
</ng-template>
