<h1 mat-dialog-title>Historical results:</h1>
<div class="results-container">
  <div fxLayout="row"
       fxLayoutAlign="space-between center"
       class="result"
       *ngFor="let price of prices">
    <span class="date">{{price.date}}:</span>
    <span class="price">{{price.price}} zł</span>
  </div>
</div>
<div mat-dialog-actions
     fxLayoutAlign="end center"
     class="buttons-container">
  <button mat-button
          color="primary"
          [mat-dialog-close]="null">CLOSE
  </button>
</div>

