@import "../../../../variables";

h1 {
  font-size: 14px;
  color: $primary-color;
  font-weight: bold;
  margin-bottom: 10px;
}

.results-container {
  width: 100%;
  height: 250px;
  overflow: auto;
}

.result {
  font-size: 14px;
  width: 100%;
  margin: 5px 0;
}

.buttons-container {
  margin-top: 5px;
}

.date {
  font-weight: 200;
  color: $helper-color;
}

.price {
  font-weight: 300;
  color: $primary-color;
  margin-right: 10px;
}

button {
  font-weight: bold;
}
